* {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.broken {
    background-color: #c2c7cc !important;
    padding: 6px;
    pointer-events: none !important;
}

.broken div {
    color: #a1aab3 !important;
}

.broken img {
    margin-top: 0 !important;
    position: absolute;
}

.already {
    pointer-events: none !important;
}

.already img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-layout {
    flex: none !important;
}

.v-card > .text {
    font-size: 16px;
    margin-top: 2px;
}

.elevation-collapse {
    box-shadow: 1px 0 0 0 #525c66,
    0 1px 0 0 #525c66,
    1px 1px 0 0 #525c66,
    1px 0 0 0 #525c66 inset,
    0 1px 0 0 #525c66 inset;
}

.border-collapse-lighten {
    box-shadow: 1px 0 0 0 #a1aab3,
    0 1px 0 0 #a1aab3,
    1px 1px 0 0 #a1aab3,
    1px 0 0 0 #a1aab3 inset,
    0 1px 0 0 #a1aab3 inset;
}

.theme--light.application {
    background-color: white;
}

.v-sheet {
    border-radius: 0;
}

.z-index-10 {
    z-index: 10
}

.z-index-20 {
    z-index: 20
}

.z-index-max {
    z-index: 10000;
}
